/*.nav hr{
            margin:0 auto;
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }*/
        body{
            margin: 0px;
        }
        .nav nav{
            width:100%;
            height:40px;
            background-color:white;
            color:white;
            font-size:18px;
            font-weight:600;
            font-family:'Microsoft YaHei';
        }
        .nav nav span{
            display:inline-block;
            /*float:left;*/
            width:150px;
            height:40px;
            line-height:40px;
            text-align:center;
        }
        .nav nav span a{
            color:black;
        }
        .nav nav span a:hover{
            color:#FF6600;
            cursor:pointer;
        }
        .content{
            width:100%;
        }
        .contentleft{
            width:100%;
            height:280px;
            background-image:url(image/background.jpg);
            color:white;
        }
        h2{
            margin:0px;
            padding:50px 0 0 60px;
        }
        p{
            padding:1px 0 0 60px;
            width:90%;
            margin:0px auto;
            font-size:14px;
        }
        .foot{
            width:100%;
            height:140px;
            background-color:#4b4a4a;
        }
        .foot a{
            width:100%;
            height:60px;
            line-height:60px;
            color:white;
            font-size:14px;
            text-align:center;
        }
        .style-one {/*内嵌水平线*/
            margin:0 auto;
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .style-two {/*透明渐变水平线*/
            margin:0 auto;
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        .style-three{/*渐变*/
            margin:0 auto;
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }

        ::-webkit-scrollbar-track-piece { 
            background-color:#f8f8f8;
        }
        ::-webkit-scrollbar {
            width:9px;
            height:9px;
        }
        ::-webkit-scrollbar-thumb {
            background-color:#dddddd;
            background-clip:padding-box;
            min-height:28px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color:#bbb;
        }